/*шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/*обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
input,button,textarea{font-family:inherit;}
a {display: inline-block;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*верстка контента*/
body {
	font-family: "Lato", sans-serif;
}
body.active {
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
}
.container {
	max-width: 1100px;
	margin: 0 auto;
}
header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 35px;
}
.header__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
	position: relative;
}
.menu__icon {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 15px;
	top: 0;
	cursor: pointer;
	display: none;
}
.menu__icon span {
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.menu__icon.active span:first-child {
	transform: rotate(45deg);
	top: 19px;
}
.menu__icon.active span:nth-child(2) {
	transform: scale(0);
}
.menu__icon.active span:last-child {
	transform: rotate(-45deg);
	bottom: 19px;
}
.menu__icon span {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #4d4959;
}
.menu__icon span:first-child {
	top: 0;
}
.menu__icon span:nth-child(2) {
	top: 19px;
}
.menu__icon span:last-child {
	bottom: 0;
}
.menu__body {
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.menu__body.active {
	top: 0;
}
.header__logo {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate3d(-50%,0,0);
	width: 94px;
}
.header__logo img {
	max-width: 100%;
	display: block;
}
.menu__list {
	display: flex;
}
.menu__list li {
	position: relative;
	padding: 0 37.5px; 
}
.menu__list li:nth-child(2) {
	padding: 0 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
	padding: 0 37.5px 0 110px;
}
.menu__list li:after {
	content: '';
	height: 4px;
	width: 4px;
	position: absolute;
	background-color: #4d4959;
	border-radius: 50%;
	right: 0;
	top: 50%;
	margin: -3px 0 0 0;
}
.menu__list li:last-child:after,
.menu__list li:nth-child(2):after{
	display: none;
}
.menu__link {
	font-size: 13px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #4d4959;
}
.main-screen {
	width: 100%;
	min-height: 100vh;
	background: url('../img/block_1/01.png') center center no-repeat;
	background-size: cover;
}
.generation {
	background-color: #f7f7f7;
	width: 100%;
	padding: 116px 0 80px 0;
}
.generation__logo {
	width: 52px;
	margin: 0 auto;
}
.generation__logo img {
	max-width: 100%;
	display: block;
}
.generation__title {
	font-family: Lato;
	text-align: center;
	padding: 34px 15px;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;
}
.generation__text {
	font-family: Lato;
	font-size: 18px;
	padding: 0 15px;
	line-height: 34px;
	font-weight: 400;
	color: #848789;
	text-align: center;
}
.vintage {
	width: 100%;
}
.vintage__row {
	display: flex;
	flex-wrap: wrap;
}
.vintage__fst-screen {
	flex: 0 0 66.67%;
	background: url('../img/block_3/01.png') center center no-repeat;
	background-size: cover;
	height: auto;
	position: relative;
}
.fst-screen__row {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}
.fst-screen__img {
	width: 113px;
}
.fst-screen__img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.vintage__snd-screen {
	flex: 0 0 33.33%;
}
.block {
	padding: 70px 52px 97px 52px;
	background-color: #ffffff;
	position: relative;
}
.snd-screen__img-block {
	height: 200px;
	background: url('../img/block_3/02.png') center center no-repeat;
	background-size: cover;
}
.img {
	width: 41px;
	margin: 0 auto;
}
.img img {
	display: block;
	max-width: 100%;
}
.title {
	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #353738;
	text-align: center;
	padding: 31px 15px 25px 15px;
}
.text {
	padding: 0 15px;
	font-family: Lato;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #848789;
	position: relative;
}
.block:after {
	content: '';
	position: absolute;
	left: 48.2%;
	border-top: 13px solid #fff;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: -12px;
}
.line {
	width: 50px;
	height: 1px;
	background-color: rgba(53,55,56,0.2);
	margin: 0 auto;
	position: relative;
	top: 40px;	
}
.boriosa__row {
	display: flex;
	flex-wrap: wrap;
}
.boriosa__fst-screen {
	flex: 0 0 33.33%;
}
.fst-screen__img-block {
	background: url('../img/block_4/01.png') center center no-repeat;
	background-size: cover;
	height: 200px;
}
.boriosa__snd-screen {
	flex: 0 0 66.67%;
	background: url('../img/block_4/02.png') center center no-repeat;
	background-size: cover;
	height: auto;
}
.snd-screen__row {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.snd-screen__img {
	width: 177px;
	align-self: center;
}
.snd-screen__img img {
	display: block;
	max-width: 100%;
}

.retro {
	width: 100%;
}
.retro__row {
	display: flex;	
	flex-wrap: wrap;
}
.retro__fst-screen {
	flex: 0 0 33.33%;
	height: auto;
	background: url('../img/block_5/01.png') center center no-repeat;
	background-size: cover;
}
.fst-screen__row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.fst-screen__img {
	width: 208px;
}
.fst-screen__img img {
	display: block;
	max-width: 100%;
}
.retro__snd-screen {
	flex: 0 0 33.34%
}
.snd-screen__img-block {
	background: url('../img/block_5/02.png') center center no-repeat;
	background-size: cover;
	height: 200px;
}
.retro__trd-screen {
	flex: 0 0 33.33%;
	background: url('../img/block_5/03.png') center center no-repeat;
	background-size: cover;
	height: auto;
}
.feed {
	width: 100%;
	background-color: #f7f7f7;
	padding: 126px 10px 69px 10px;
}
.feed__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.feed__body {}
.feed__logo {
	width: 32px;
	margin: 0 auto;
}
.feed__logo img {
	display: block;
	max-width: 100%;
}
.feed__title {
	font-family: Lato;
	font-size: 18px;
	text-align: center;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #353738;
	padding: 37px 0 27px 0;
}
.feed__title span {
	font-weight: 300;
	color: #848789;
}
.feed__text {
	font-family: Lato;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	text-align: center;
}
.feed__points {
	padding: 105px 0 0 0;
	width: 100%;
}
.points__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.feed__points span {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-color: rgba(40,47,53,0.0);
	border: 1px solid #c8c8c8;
	border-radius: 50%;
	margin: 0 11px 0 0;
}
.feed__points span.active {
	width: 11px;
	height: 11px;
	background-color: #a9afb3;
}
.feed__points span:last-child {
	margin: 0;
}
.shop {
	width: 100%;
}
.shop__row {
	display: flex;
	flex-wrap: wrap;
}
.shop__fst-screen {
	flex: 0 0 33.31%;
}
.shop__fst-screen__row {
	display: flex;
	flex-wrap: wrap;
}
.fst-screen__fst-img-block {
	flex: 0 0 50%;
	background: url('../img/block_7/01.png') center center no-repeat;
	background-size: cover;
	height: 267px;
}
.fst-screen__snd-img-block {
	flex: 0 0 50%;
	background: url('../img/block_7/02.png') center center no-repeat;
	background-size: cover;
}
.fst-screen__trd-img-block {
	background: url('../img/block_7/03.png') center center no-repeat;
	background-size: cover;
	height: 267px;
}
.shop__snd-screen {
	flex: 0 0 16.69%;
	background: url('../img/block_7/04.png') center center no-repeat;
	background-size: cover;
	height: auto;
}
.shop__trd-screen {
	flex: 0 0 16.69%;
	background: url('../img/block_7/05.png') center center no-repeat;
	background-size: cover;
	height: auto;
}
.shop__fth-screen {
	flex: 0 0 33.31%;
}
.fth-screen__fst-img-block {
	background: url('../img/block_7/06.png') center center no-repeat;
	background-size: cover;
	height: 267px;
	position: relative;
}
.fst-img-block__greenless {
	background-color: rgba(100,194,158,0.8);
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.fst-img-block__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-direction: column;
}
.fst-img-block__img {
	width: 51px;
	margin: 0 0 14px 0;
}
.fst-img-block__title {
	font-family: Lato;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	text-align: center;
}
.fst-img-block__img img {
	display: block;
	max-width: 100%;
}
.fth-screen__snd-img-block {
	height: 267px;
}
.snd-img-block__row {
	display: flex;
	flex-wrap: wrap;
}
.snd-img-block__fst-img-block {
	flex: 0 0 50%;
	background: url('../img/block_7/07.png') center center no-repeat;
	min-height: 267px;
	background-size: cover;
}
.snd-img-block-snd-img-block {
	flex: 0 0 50%;
	background: url('../img/block_7/08.png') center center no-repeat;
	background-size: cover;
}
.discover {
	width: 100%;
	background-color: #282f35;
	height: 200px;
}
.discover__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.discover__button {
	width: 300px;
	text-align: center;
	background-color: rgba(255,255,255,0.0);
	border: 1px solid rgba(255,255,255,0.49);
	font-family: Lato;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	padding: 20px 0;
}
.stay {
	width: 100%;
	background-color: #fff;
	height: 469px;
	padding: 0 10px;
}
.stay__row {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.stay__img {
	width: 94px;
}
.stay__img img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.stay__title {
	font-family: Lato;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	text-align: center;
	padding: 38px 0;
}
.stay__input input {
	padding: 26px;
	width: 400px;
	border: 1px solid #d3d7d9;
	font-family: Lato;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #929292;
	margin: 0 9px 0 0;
}
.stay__input button {
	width: 126px;
	background-color: #64c29e;
	padding: 27px 0;
	font-family: Lato;
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
}
footer {
	width: 100%;
	height: 250px;
	background-color: #f7f7f7;
	padding: 0 10px;
}
.footer__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.container {
	height: 100%;
}
.footer__text {
	font-family: Lato;
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	color: #848789;
	display: block;
}
.footer__text span {
	font-size: 13.9px;
	font-weight: 400;
	font-style: italic;
	display: block;
}
.footer__socials {
	display: flex;
}
.footer__img {
	width: 34px;
	margin: 0 15px 0 0;
}
.footer__img:last-child {
	margin: 0;
}
.footer__img img {
	display: block;
	max-width: 100%;
}
.footer__end {
	display: flex;
	height: auto;
}
.end__text {
	font-family: Lato;
	font-size: 13.9px;
	line-height: 17px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	display: inline-block;
	align-self: center;
	margin: 0 12px 0 0;
}
.end__logo {
	width: 55px;
}
.end__logo img {
	display: block;
	max-width: 100%;
}

/*адаптация*/
@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 970px) {
	.container {
		max-width: 750px;
	}
	.vintage__snd-screen,
	.vintage__fst-screen {
		flex: 0 0 100%;
	}
	.vintage__fst-screen {
		min-height: 600px;
	}
	.boriosa__snd-screen,
	.boriosa__fst-screen {
		flex: 0 0 100%;
	}
	.boriosa__snd-screen {
		order: 1;
	}
	.boriosa__fst-screen {
		order: 2;
	}
	.boriosa__snd-screen,
	.retro__fst-screen {
		min-height: 600px;
	}
	.retro__fst-screen,
	.retro__snd-screen,
	.retro__trd-screen {
		flex: 0 0 100%;
	}
	.shop__fst-screen,
	.shop__fth-screen {
		flex: 0 0 66.67%;
	}
	.shop__snd-screen,
	.shop__trd-screen {
		flex: 0 0 33.33%;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: -100%;
		left: 0;
		background-color: rgba(238, 238, 238, .8);
		z-index: 5;
		overflow-y: auto;
	}
	.menu__icon {
		display: block;
		z-index: 6;
	}
	.header__logo {
		width: 70px;
		z-index: 6;
	}
	.menu__list {
		padding: 130px 0 0 0;
		flex-direction: column;
	}
	.menu__list li {
		text-align: center;
	}
	.menu__list li:nth-child(2):after,
	.menu__list li:after {
		display: block;
		content: '';
		height: 4px;
		width: 4px;
		position: absolute;
		background-color: #4d4959;
		border-radius: 50%;
		left: 50%;
		top: 100%;
	}
	.menu__list li:nth-child(2),
	.menu__list li:nth-child(3) {
		padding: 0;
	}
	.menu__link {
		display: block;
		text-align: center;
		padding: 15px 0;
		font-size: 30px;
	}
	.generation {
		padding: 55px 0 40px 0;
	}
	.generation__title {
		padding: 20px 10px;
	}
	.stay__input input {
		width: 350px;
		padding: 15px;
		display: block;
		margin: 0 0 20px 0;
	}
	.stay__input button {
		padding: 17px;
		margin: 0 auto;
		display: block;
	}
	footer {
		height: 300px;
		padding: 0 30px;
	}
	.footer__row {
		flex-direction: column;
		justify-content: space-around;
		align-items: start;
	}
}
@media (max-width: 420px) {
	.menu__icon {
		width: 30px;
		height: 30px;
	}
	.menu__icon span:nth-child(2) {
		top: 14px;
	}
	.menu__icon.active span:first-child {
		transform: rotate(45deg);
		top: 14px;
	}
	.menu__icon.active span:last-child {
		transform: rotate(-45deg);
		bottom: 14px;
	}
	.block {
		padding: 45px 20px 50px 20px;
	}
	.line {
		top: 23px;
	}
	.feed {
		padding: 70px 10px 40px 10px;
	}
	.shop__fst-screen,
	.shop__snd-screen,
	.shop__trd-screen,
	.shop__fth-screen {
		flex: 0 0 100%;
	}
	.shop__fth-screen {
		order: 3;
	}
	.shop__trd-screen {
		order: 4;
	}
	.shop__snd-screen,
	.shop__trd-screen {
		min-height: 534px;
	}
	.discover {
		height: 150px;
	}
	.discover__button {
		width: 200px;
		padding: 15px 0;
		letter-spacing: 1px;
	}
	.stay__input input {
		width: 280px;
		font-size: 18px;
		line-height: 18px;
		padding: 15px;
		display: block;
		margin: 0 0 20px 0;
	}
}